<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164601148332-08690opp657jcmtflvuj4pl0gihjgq5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164601148332-08690opp657jcmtflvuj4pl0gihjgq5b</string>
	<key>API_KEY</key>
	<string>AIzaSyCCGhuoql84le_fgucL9y0-D_Ez7yEhpQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>164601148332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterwavepayment</string>
	<key>PROJECT_ID</key>
	<string>flutterwavepayment</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterwavepayment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164601148332:ios:9898f50fde7805b4780009</string>
</dict>
</plist>